/* Variables */

:root {
    --radius: 12px;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.site-nav {
    display: flex;
    justify-content: flex-end;
    outline: red solid 1px;
}

.site-nav__list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    outline: solid 3px green;
}

.site-nav__link {
    text-decoration: none;
    color: white;
}

/* ==========================================================================
   CARD
   ========================================================================== */

.card {
    border-radius: var(--radius);
}