/* ==========================================================================
   BODY
   ========================================================================== */

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #131313, #0c060c);
    min-height: 100dvh;
}

.layout-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    /*
    outline: 1px solid hotpink;
    */
}

/* ==========================================================================
   HEADER
   ========================================================================== */

.site-header {
    min-height: 5rem;
    background:radial-gradient(
                    circle at top center,
                    rgb(47, 0, 27) 5%,
                    #000000 100%
                    );
}

/* ==========================================================================
   MAIN
   ========================================================================== */

main {
    flex: 1;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

.site-footer {
    background-color: #000000;
    min-height: 8rem;
}

/*
section {
    outline: 1px solid hotpink;
}
*/